@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-logo: 'Inter', sans-serif;
    --input-linear: linear-gradient(120deg, #F8D38A, #81B3C8);
    --button-linear: linear-gradient(120deg, #F8D38A, #81B3C8, #E78895);
    --azul-claro: #6BD1FF;
    --preto: #000000;
    --branco: #FFFFFF;
    --button-disabled: #acacac;
    --gray: #929292;


}

body {
    width: 100%;
    height: 100vh;
    margin-bottom: 15%;
    background: #81B3C8;
}

.formulario {
    width: 80%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    margin: 5% auto;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
    background-size: contain;
    height: auto;
}

.form-image img {
    width: 25rem;
    border-radius: 50%;
    border: 4px solid #81B3C8;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.formulario__campos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.formulario__campo {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formulario__campo input:hover {
    background-color: #eeeeee75;
}

.formulario__campo input:focus-visible {
    outline: 1px solid #81B3C8;
}

.formulario__titulo-texto {
    margin: 1em 0;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
}

.form-header h2::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #81B3C8;
    margin: 1 auto;
    border-radius: 10px;
}

.campo__etiqueta {
    font-weight: 500;
    line-height: 20px;
}

.campo__escrita {
    display: block;
    border: 2px solid #81B3C8;
    border-radius: 20px;
    width: 100%;
    padding: 1em;
    margin-top: .5em;
}

.termos__texto {
    line-height: 20px;
    display: inline;
}

.formulario__botao {
    margin: 2em auto;
    display: block;
    border: unset;
    padding: 1em 4em;
    box-shadow: 4px 4px 0 var(--preto);
    background: var(--input-linear);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--branco);
    cursor: pointer;
    transition: 0.5s ease;
}

.formulario__botao:hover {
    background: var(--button-linear);
}

.mensagem-erro {
    color: red;
}

.campo__escrita--erro {
    border: 2px solid red;
}

